@font-face {
    font-family: ClashFont;
    src: url(fonts/Supercell-Magic\ Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ClashFont;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(img/icons/Unconfirmed\ 868365.crdownload);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(75%);
}

#logo {
    width: 10rem;
    transition: 0.3s;
}

#BlurImg {
    filter: blur(20px);
}

#logo:hover {
    scale: 1.05;
}

#GuessInput {
    width: 300px;
    height: 50px;
    background-color: rgba(1, 1, 1, 0.3);
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 20px;
    font-size: medium;
    color: white;
    font-family: ClashFont;
}

.HoverBtn {
    transition: 0.3s ease;
    
}

.HoverBtn:hover {
    scale: 1.2;
}

#HintBtn {
    background-color: rgba(1, 1, 1, 0.3);
    border-style: solid;
    border-color: white;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
}

h1, h2, h3{
    color: white;
    font-family: ClashFont;
}

