@font-face {
    font-family: ClashFont;
    src: url(fonts/Supercell-Magic\ Regular.ttf);
}


body {
    font-family: ClashFont;
    background-color: rgb(40, 40, 40);
}

h1,h2,h3,h4,h5,h6 {
    font-family: ClashFont;
}

.HoverButton:hover{
    scale: 1.2;
    background-color: gold;
}

.HoverButton {
    transition: 0.3s ease;
}

#GameModesHeader {
    display: flex;
    justify-self: center;
    color: white;
}

.GameModes {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 4%;
    background-color: rgba(1, 1, 1,0.5 );
    border-radius: 10px;
}

.GameModes button {
    width: 200px;
    border-style: solid;
    background-color: rgb(41, 105, 255);
    border-radius: 10px;
    cursor: pointer;
    border-width: 4px;
}

#CQLogo {
    width: 600px;
    display: flex;
    justify-self: center;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(80%);
    background-image: url(https://images6.alphacoders.com/855/855977.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}